<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <add key="EmailClient" value="mail.mitchellandtech.com" />
  <!--The setting above defines mail server-->
  <add key="EmailUser" value="admin@mitchellandtech.com" />
  <!--Email that exists on your hosting account defined above-->
  <add key="EmailPass" value="Blackjack17!" />
  <!--THis is the password for the value defined in EmailUser-->
  <add key="EmailTo" value="brandanm296@gmail.com" />
  <!--The email address above is where form submissions should be sent to-->
</appSettings>