<section id="breadcrumbs" class="breadcrumbs">
    <div>

        <div class="d-flex justify-content-between align-items-center mt-4">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>
</section>